@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  font-family: Roboto;
  font-style: normal;
}

.hr-container {
  opacity: 0.2;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  margin-top: 10px;
  opacity: 0.9;
}

h2 {
  z-index: 10;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  margin-top: 20px;
}

@media (max-width: 800px) {
  h2 {
    margin-top: 30px;
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  h2 {
    margin-top: 20px;
    font-size: 30px;
  }
}

h3 {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
  opacity: 0.5;
}

@media (max-width: 800px) {
  h3 {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  h3 {
    font-size: 14px;
    margin-bottom: 25px;
  }
}

.sub-recall-btn {
  min-width: 170px;
  height: 46px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.sub-recall-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sub-recall-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.sec-label {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 150px;
  height: 27px;
  background: #65656582;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
}

nav {
  min-height: 55px;
  background: #383838;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0px;
  margin: 0;
  list-style-type: none;
}

nav .menu .separator {
  border-right: 2px dotted rgba(255, 255, 255, 0.396);
  height: 25px;
}

nav .menu .menu_link {
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 990px) {
  nav .menu .menu_link {
    font-size: 12px;
  }
}

nav .menu .menu_link:hover {
  text-decoration: underline;
}

.subheader {
  min-height: 70px;
  background: #ededed;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subheader .sub-logo {
  max-width: 100%;
}

@media (max-width: 780px) {
  .subheader .sub-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subheader .sub-official {
  font-weight: 100;
  font-size: 13px;
  opacity: 0.6;
  color: #000;
}

@media (max-width: 780px) {
  .subheader .sub-official {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subheader .sub-call {
  font-weight: 300;
  font-size: 12px;
  opacity: 0.6;
  text-align: right;
}

@media (max-width: 780px) {
  .subheader .sub-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subheader .sub-phone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 780px) {
  .subheader .sub-phone-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subheader .sub-phone {
  font-weight: 400;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.subheader .sub-recall-btn {
  width: 172px;
  height: 46px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
}

.subheader .sub-recall-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 780px) {
  .subheader .sub-recall-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.promo {
  min-height: 54 0px;
  margin-bottom: 80px;
}

.promo .text-head {
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 800px) {
  .promo .text-head {
    margin-top: 30px;
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .promo .text-head {
    margin-top: 20px;
    font-size: 30px;
  }
}

.promo .text-sub-head {
  text-align: center;
  margin-bottom: 25px;
  opacity: 0.5;
}

@media (max-width: 800px) {
  .promo .text-sub-head {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .promo .text-sub-head {
    font-size: 14px;
    margin-bottom: 25px;
  }
}

.promo .img-container {
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo .promo-btn-container {
  margin-top: 20px;
}

.benefits {
  margin-bottom: 80px;
}

.benefits .benefits-label {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 27px;
  background: #65656582;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
}

.benefits .benef-items .benef-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits .benef-items .benef-item .benef-item__img {
  margin-right: 20px;
}

@media (max-width: 400px) {
  .benefits .benef-items .benef-item .benef-item__img img {
    width: 60px;
  }
}

.benefits .benef-items .benef-item .benef-item__body {
  padding-right: 20px;
}

.benefits .benef-items .benef-item .benef-item__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1eacc7;
}

.benefits .benef-items .benef-item .benef-item__desc {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #727272;
}

.mobile-app {
  padding-top: 50px;
  padding-bottom: 70px;
  background: no-repeat url("../img/mobile_bg.png");
}

.choise {
  padding-top: 50px;
  padding-bottom: 80px;
}

.choise .circle-half {
  opacity: 0.1;
  z-index: -100;
  top: 130px;
  left: center;
  width: 40em;
  height: 20em;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  /* угол состоит из половины ширины (50% от 10em = 10em : 2 = 5em) и всей высоты (100% от 5em = 5em) */
  background: #4a5c5f;
}

@media (max-width: 768px) {
  .choise .circle-half {
    top: 120px;
    width: 20em;
    height: 10em;
  }
}

@media (max-width: 410px) {
  .choise .circle-half {
    top: 160px;
    width: 20em;
    height: 10em;
  }
}

.terms {
  padding-top: 50px;
  padding-bottom: 80px;
}

.terms .terms-col__head {
  font-weight: 400;
  font-size: 22px;
  color: #1ca8c3;
}

.terms .terms-col__body {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}

.terms .terms-col__list {
  list-style-type: none;
  padding-left: 25px;
}

.terms .terms-col__list li {
  position: relative;
}

.terms .terms-col__list li::before {
  font-family: FontAwesome;
  content: "\f058";
  position: absolute;
  left: -25px;
  top: 0px;
  color: #1ca8c3;
}

.terms .terms-col__head-red {
  font-weight: 400;
  font-size: 22px;
  color: red;
  opacity: 0.7;
}

.terms .terms-col__list-red {
  list-style-type: none;
  padding-left: 25px;
}

.terms .terms-col__list-red li {
  position: relative;
}

.terms .terms-col__list-red li::before {
  font-family: FontAwesome;
  content: "\f058";
  position: absolute;
  left: -25px;
  top: 0px;
  color: red;
  opacity: 0.3;
}

.cities {
  min-height: 500px;
  background: center/cover no-repeat url("../img/world_bg.png");
  padding-top: 50px;
  padding-bottom: 80px;
}

.cities .terms-label {
  color: black;
  background-color: #fff;
}

.cities h2 {
  color: #fff;
}

.cities h3 {
  color: #fff;
  opacity: 0.9;
}

.cities .icon {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.cities .icon .fa-solid {
  font-size: 100px;
  color: #1fbad6;
  text-align: center;
}

.cities .all-cities {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.cities .all-cities a {
  color: #1fbad6;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  padding-top: 50px;
  padding-bottom: 80px;
}

.footer .icons {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .icons a {
  color: #3a3a3a;
  -webkit-transition: all 0.1;
  transition: all 0.1;
}

.footer .icons a :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .icons i {
  margin-right: 20px;
}

.footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .footer .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .menu ul li {
  margin-right: 25px;
}

.footer .menu a {
  text-decoration: none;
  color: #1fbad6;
}

.footer .menu a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */